html, body{
	margin: 0px;
	border: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
}

.container{
	position: relative;
	width: fit-content;
	max-width: 100%;
	height: 100vh;
	margin: 0 auto;
	text-align: center;
	overflow: hidden;
}

.background{
	max-width: 100%;
	max-height: 100%;
	height: 100vh;
}

#buttonMusic{
	position: absolute;
	top: 7%;
	right: 3.5%;
	width: 10%;
	z-index: 3;
}

#window{
	position: absolute;
	top: 2.5%;
	left: 0%;
	width: 41%;
	z-index: 1;
}

.curtainLeft{
	position: absolute;
	top: 7%;
	left: 0%;
	width: 18.4%;
	z-index: 2;
	animation: swingCurtain 4s linear infinite;
}

.curtainRight{
	position: absolute;
	top: 3.8%;
	left: 24%;
	width: 28.5%;
	z-index: 2;
	animation: swingCurtain 5s linear infinite;
}

@keyframes swingCurtain{
	0%, 100%{
		transform: rotate(0deg);
		transform-origin: 30% -5%;
	}
	25%{
		transform: rotate(-3deg);
	}
	75%{
		transform: rotate(2deg);
	}
}

.windchime{
	position: absolute;
	top: 6%;
	left: 16%;
	width: 9.5%;
	z-index: 2;
	animation: swingWindchime 3s linear infinite;
}

@keyframes swingWindchime {
    0%, 100% {
        transform: rotate(0deg);
        transform-origin: 0 0;
    }
    25% {
        transform: rotate(-10deg);
    }
    75% {
        transform: rotate(10deg);
    }
}

#painting{
	position: absolute;
	top: 4%;
	right: 12%;
	width: 30%;
	z-index: 1;
}

#table{
	position: absolute;
	bottom: 10%;
	left: 0%;
	width: 81%;
	z-index: 1;
}

#kettle{
	position: absolute;
	bottom: 46%;
	left: 14%;
	width: 22%;
	z-index: 2;
}

.buttonStart{
	position: absolute;
	bottom: 17%;
	left: 50%;
	width: 48%;
	transform: translate(-50%, -50%);
	transition: transform 0.1s;
	z-index: 2;
}

.buttonStart.clicked {
    transform: translate(-50%, -50%) scale(0.9);
}

#bucket{
	position: absolute;
	bottom: 27%;
	right: 6%;
	width: 32.5%;
	z-index: 2;
}

#doorLeft{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 30.6%;
	z-index: 2;
}

#doorRight{
	position: absolute;
	top: 0%;
	right: 0%;
	width: 16.1%;
	z-index: 2;
}

#steam-container {
    position: absolute;
    width: 14%;
    height: 20%;
	left: 23%;
	bottom: 54%;
	z-index: 2;
}

.steam-bubble {
    position: absolute;
    bottom: 0;
    opacity: 0;
    animation: riseAndFade 5s ease-out;
    animation-fill-mode: forwards;
}

@keyframes riseAndFade {
    from {
        bottom: 0;
        opacity: 1;
    }
    to {
        bottom: 100%;
        opacity: 0;
    }
}

/* @media (max-aspect-ratio: 9/16){ */
	
	#buttonMusic{
		width: 14%;
	}
	
	.buttonStart{
		bottom: 17%;
		transform: translate(-50%, -50%);
	}
	
	.buttonStart.clicked {
	    transform: translate(-50%, -50%) scale(0.9);
	}
	
	#window{
		top: 5%;
		width: 41%;
	}
	
	.curtainLeft{
		top: 8.3%;
	}
	
	.curtainRight{
		top: 6%;
	}
	
	.windchime{
		top: 7.5%;
		left: 17%;
	}
	
	#painting{
		top: 8%;
	}
	
	#table{
		bottom: 25%;
	}
	
	#kettle{
		bottom: 52%;
	}
	
	#bucket{
		bottom: 30%;
	}
	
	#doorLeft{
		height: 100%;
	}

	#doorRight{
		height: 100%;
	}
	
	#steam-container {
		width: 20%;
		left: 20%;
		bottom: 57%;
	}
/* } */
